html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: dodgerblue;
    color: white;
    text-align: center;
}

main {
    width: 100%;
    padding: 90px 10% 0;
}

#titulo {
    font-style: italic;
}

* {
    font-family: sans-serif;
}

a[href="tel:1640028922"] {
    font-weight: bold;
}

a[href*="#"] {
    font-weight: bold;
}

img+p {
    font-weight: bold;
}

#titulo~h2 {
    text-decoration: underline;
}

nav>ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: dodgerblue;
    padding: 10px;
    font-size: 22px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

header {
    background-color: white;
    color: dodgerblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    padding: 0 5px;
    position: fixed;
    z-index: 100;
}

header>span {
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
}

header span:hover {
    transform: scale(1.1);
}

header strong {
    font-size: 24px;
}

aside {
    width: 10%;
    position: fixed;
    right: 0;
    padding-top: 70px;
}

aside>ol {
    text-align: left;
}

aside li {
    margin: 10px 0;
}

aside a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: dodgerblue;
    color: white;
}

h2::before {
    content: "<";
}

h2::after {
    content: ">";
}

p::first-letter {
    font-size: 32px;
}

p::first-line {
    font-weight: bold;
}

h2::selection {
    background-color: blue;
}

aside li::marker {
    font-weight: bold;
}

a, a:hover {
    text-decoration: none;
    color: white;
}

img, video, iframe {
    width: 80%;
    aspect-ratio: 16 / 9;
}

.copyright {
    transform: translateY(40px);
}

.dropdown, .contato-btn, .scroll-top {
    display: none;
}

.scroll-top {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    padding-bottom: 10px;
}

.scroll-top a {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.scroll-top i {
    font-size: 24px;
    font-weight: bold;
}

@media (max-width: 1160px) {
    aside {
        width: 15%;
    }
    main {
        padding: 90px 15% 0;
    }
}

@media (max-width: 780px) {
    aside {
        position: relative;
        padding: 70px 5% 0;
    }
    main {
        padding: 0 5%;
    }
    img, video, iframe {
        width: 100%;
    }
}

@media (max-width: 465px) {
    nav, .contato {
        display: none;
    }
    .dropdown, .contato-btn, .scroll-top {
        display: block;
    }
    audio {
        width: 100%;
    }
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}